*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start-end{
    height: 75px;
    background-color: red;
}

.content{
    height: 75px;
    background-color: blue;
}
.bg-row{
    background-color: aliceblue;
}